.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  color: white;
  font-weight: bold;
  background-color: #0a0a0a;
  padding: 8px;
  border: none;
  margin: 5px;
}
.external{
  color: blue;
}
.useform{
  border: none;
  width: 330px;
  padding: 10px;
  margin: 15vh auto;
  border-radius: 5px;
  background-color: rgb(122, 219, 243);
 
}
.form{
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.heading{
  text-align: center;
}
.box{
  width: 310px;
  padding: 9px;
  border-radius: 8px;
  margin-top: 4px;
}
.submit{
  text-align: center;
}
.button1{
  display: inline-block;
  padding: 7px;
  font-size: medium;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}
.button1:hover{
  background-color:rgb(6, 123, 144);
  color: whitesmoke;
}

.form1{
  font-family: 'Times New Roman', Times, serif;
  border: none;
  width: 370px;
  padding: 10px;
  margin: 15vh auto;
  border-radius: 5px;
  /* background-color: rgba(247, 248, 248, 0.833); */
  box-shadow: rgba(60, 66, 87, 0.12) 0px 0px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
 
}
.head1{
  text-align: center;
  font-weight: bolder;
}
.box1{
  width: 320px;
  padding: 9px;
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 16px;
  /* margin-bottom: 3px; */
  border: 1px solid gray;
  }
.button2{
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  padding: 8px 19px;
  font-size: 19px;
  font-weight: bold;
  /* margin-top: 15px; */
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-color: rgb(31, 31, 31);
  color: white;
}
.button2:hover{
  background-color: rgba(247, 248, 248, 0.833);
  color: black;
}
.label{
  margin-left: 16px;
  font-size: 19px;
  /* margin-top: 40px; */
  font-weight: 500;

}
.para1{
  text-align: center;
}
.link{
  text-decoration: none;
  
}
.pass{
  text-align: end;
}
.password{
  text-decoration: none;
  display: inline-block;
  padding-right: 19px;  
  color: black;
}
.form2{
  font-family: 'Times New Roman', Times, serif;
  border: none;
  width: 620px;
  padding: 10px;
  margin: 5vh auto;
  border-radius: 5px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 0px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  /* background-color: rgba(247, 248, 248, 0.833); */
}
.box2{
  width: 265px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 7px;
  /* margin-left: 5px; */
  margin-bottom: 10px;
  border: 1px solid gray;
}
#cpassword{
  margin-left: 35px;
}
.label1{
  margin-left: 18px;
  font-size: 19px;
  font-weight: 500;
}
.label2{
  margin-left: 18px;
  font-size: 19px;
  font-weight: 500;
}
.box3{
  width: 565px;
  padding: 3px;
  border-radius: 3px;
  margin-top: 7px;
  /* margin-left: 2px; */
  border: 1px solid gray;
  margin-bottom: 10px;
}
.box4{
  width: 565px;
  padding: 7px;
  border-radius: 3px;
  margin-top: 7px;
  margin-left: 18px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
