.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  color: white;
  font-weight: bold;
  background-color: #0a0a0a;
  padding: 8px;
  border: none;
  margin: 5px;
}
.external{
  color: blue;
}
.useform{
  border: none;
  width: 330px;
  padding: 10px;
  margin: 15vh auto;
  border-radius: 5px;
  background-color: rgb(6, 123, 144);
 
}
.form{
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.heading{
  text-align: center;
}
.box{
  width: 310px;
  padding: 9px;
  border-radius: 8px;
  margin-top: 4px;
}
.submit{
  text-align: center;
}
.button1{
  display: inline-block;
  padding: 7px;
  font-size: medium;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}
.button1:hover{
  background-color:rgb(6, 123, 144);
  color: whitesmoke;
}

.form1{
  border: none;
  width: 300px;
  padding: 10px;
  margin: 15vh auto;
  border-radius: 5px;
  background-color: rgb(116, 228, 247);
 
}